/**********************
     Common styles
 **********************/
* {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.table-small {
  font-size: 14px;
  border-collapse: collapse;
}

.flex {
  display: flex;
}

.link {
  color: var(--jp-quetz-primary-color);
  text-decoration: none;
}

.link:hover {
  color: var(--jp-quetz-primary-color);
  text-decoration: underline;
}

/**********************
     Layout styles
 **********************/
.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-side {
  padding-left: 20px;
  padding-right: 20px;
}

.padding {
  padding: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-side {
  margin-left: 20px;
  margin-right: 20px;
}

.margin {
  margin: 20px;
}

.page-contents-width-limit {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

/**********************
      Text styles
 **********************/
/* TODO: Letter spacing for text */
.heading1 {
  font-size: 54px;
  line-height: 68px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.heading2 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.heading3 {
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.paragraph {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.text {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.minor-paragraph {
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif;
}

.minor-text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.caption {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 0;
  color: var(--jp-quetz-primary-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.caption-inline {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: inherit;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.section-heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 6px;
  font-family: 'Source Sans Pro', sans-serif;
}

.annotation {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.annotation-text {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.profile-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

/**********************
        Tabs
 **********************/
.react-tabs__tab-list {
  padding: 0 5px !important;
  border-bottom: 1px solid #404040 !important;
  margin: 0 !important;
}

.react-tabs__tab {
  padding: 10px 30px !important;
  color: #aaaaaa;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  border: 0 !important;
}

.react-tabs__tab:hover {
  color: var(--jp-quetz-primary-color);
}

.react-tabs__tab.react-tabs__tab--selected {
  background-color: #404040;
  color: var(--jp-quetz-primary-color);
}

/**********************
        Leftbar
 **********************/
.leftbar {
  width: 200px;
  border-radius: 6px;
  background-color: #404040;
  flex-grow: 0;
  padding: 4px 0;
  position: relative;
}

.leftbar-item {
  text-align: left;
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 7px 20px;
  border-radius: 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 8px 0;
  position: relative;
  display: block;
}

.leftbar-item.active {
  color: var(--jp-quetz-primary-color);
  font-weight: bold;
}

.leftbar-item.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--jp-quetz-primary-color);
}

.left-right {
  display: flex;
  align-items: flex-start;
}

.right-section {
  flex-grow: 1;
  padding-left: 76px;
  display: flex;
  flex-direction: column;
}
