.about-page {
  width: 100%;
  min-height: calc(100vh - var(--jp-private-topbar-height));
  display: flex;
  justify-content: center;
  background: url(img/mamba.jpg) no-repeat center center fixed;
  background-size: cover;
}

.about {
  min-width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.about hr {
  border-color: var(--jp-quetz-primary-color);
  margin-bottom: 30px;
}

.about h1 {
  color: var(--jp-quetz-primary-color);
}

.about p {
  line-height: 30px;
  text-shadow: 0 0 5px black;
}

.about-list {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
