:root {
  --jp-private-topbar-height: 42px;
}

body {
  margin: 0;
  padding: 0;
}

/* Logo dark style */
body[data-jp-theme-light='false'] path#quetz-logo-text,
body[data-jp-theme-light='false'] path#quetz-logo-swirl {
  fill: yellow;
}

body[data-jp-theme-light='false'] path#quetz-logo-swirl-highlight {
  fill: #111;
  stroke: #111;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#main-panel {
  overflow: auto;
}

body[data-jp-theme-light='false'] #top-panel {
  color: yellow;
}

#top-panel {
  background: var(--jp-layout-color1);
  display: flex;
  min-height: var(--jp-private-topbar-height);
}

.p-Widget {
  overflow: unset;
}

.lm-Widget {
  overflow: unset;
}

.jp-ExampleWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}