:root {
  --jp-private-topbar-height: 42px;
  --jp-quetz-primary-color: yellow;
}

body {
  margin: 0;
  padding: 0;
}

/* Logo dark style */

body[data-jp-theme-light='false'] path#quetz-logo-text,
body[data-jp-theme-light='false'] path#quetz-logo-swirl {
  fill: var(--jp-quetz-primary-color);
}

body[data-jp-theme-light='false'] path#quetz-logo-swirl-highlight {
  fill: #111;
  stroke: #111;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#main-panel {
  overflow: auto;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color0);
  padding: var(--jp-cell-padding);
}

#top-panel {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
  background: var(--jp-layout-color1);
  display: flex;
  min-height: var(--jp-private-topbar-height);
}

body[data-jp-theme-light='false'] #top-panel {
  color: var(--jp-quetz-primary-color);
}

#main-menu {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
  background: var(--jp-layout-color1);
  display: flex;
  min-height: var(--jp-private-topbar-height);
  align-items: center;
}

#login-menu {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
  background: var(--jp-layout-color1);
  display: flex;
  min-height: var(--jp-private-topbar-height);
  align-items: center;
}

.jp-ClassicSpacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.jp-ExampleWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
