.jp-Dialog-content {
  min-width: 400px;
  max-height: none;
  min-height: 200px;
  max-height: 1000px;
  background: var(--jp-layout-color1) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}

.jp-Dialog-body {
  background-color: var(--jp-layout-color1);
  overflow-y: auto;
}

.jp-Dialog-header {
  text-align: left;
  font: normal normal bold 28px/36px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.qs-Form-Section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.qs-Form-Section-Row {
  margin-bottom: 10px;
  border-bottom: 1px solid #404040;
}

.qs-Form-Section-Label {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.qs-Label-Caption {
  text-align: left;
  font: normal normal bold 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffff00;
  opacity: 1;
}

/**********************
        Inputs
**********************/

label.qs-Input-Label {
  text-align: left;
  font: normal normal normal 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

label.qs-Input-Label:focus {
  outline: 0;
}

input.jp-mod-styled {
  background: #404040 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

input.jp-mod-styled:focus {
  outline: 0;
}

select.jp-mod-styled {
  background: #404040 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

select.jp-mod-styled:focus {
  outline: 0;
}

/**********************
        Buttons
**********************/

.bp3-button-text {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #fffe37;
  opacity: 1;
}

.jp-Button.minimal {
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #fffe37;
}

.jp-Button.minimal:hover {
  background: #404040 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #fffe37;
}

.jp-Button.minimal:focus {
  outline: 0;
}

button.jp-mod-styled.jp-mod-accept {
  background: #fffe37 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}

button.jp-mod-styled.jp-mod-accept:hover {
  background: #404040 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #fffe37;
  opacity: 1;
}

button.jp-mod-styled.jp-mod-accept:focus {
  outline: 0;
}

button.jp-mod-styled.jp-mod-reject {
  background: #404040 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

button.jp-mod-styled.jp-mod-reject:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

button.jp-mod-styled.jp-mod-reject:focus {
  outline: 0;
}
