.download-page {
  width: 100%;
  height: calc(100vh - var(--jp-private-topbar-height));
  display: flex;
  justify-content: center;
  background: url(img/mamba.jpg) no-repeat center center fixed;
  background-size: cover;
}

.download {
  height: 100%;
  min-width: 70%;
  padding: 20px;
  margin: 0 auto;
  color: var(--jp-quetz-primary-color);
}

.download hr {
  border-color: var(--jp-quetz-primary-color);
  margin-bottom: 30px;
}

.download .paragraph {
  line-height: 30px;
}

.download-container {
  width: 100%;
  height: 75%;
  margin: auto;
  display: flex;
}

.download-row {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.download-button {
  width: 200px;
  height: 260px;
  margin: 100px 50px;
  border: 0;
  background-color: var(--jp-quetz-primary-color);
  border-radius: 10px;
  color: var(--jp-layout-color1);
  font-weight: bold;
}

.download-windows {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background: url(img/windows-logo.svg) no-repeat 50% 50%;
  background-size: cover;
}

.download-osx {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background: url(img/osx-logo.svg) no-repeat 50% 50%;
  background-size: cover;
}

.download-linux {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background: url(img/linux-logo.svg) no-repeat 50% 50%;
  background-size: cover;
}

.download-label {
  margin: 40px auto 0;
  font-size: 20px;
}
