.jp-table {
  width: 100%;
  border-spacing: 0;
  font-size: var(--jp-ui-font-size2);
}

.jp-table th,
.jp-table td {
  margin: 0;
  /*padding: calc(2 * var(--jp-cell-padding)) var(--jp-cell-padding);*/
  padding: 12px;
  border-bottom: 1px solid var(--jp-layout-color2);
}

.jp-table tr.expanded td {
  border-bottom: 0;
}

.jp-table td.jp-table-expanded-contents {
  padding: 10px 0 20px 60px;
}

.jp-table tr:last-child td {
  border-bottom: 0;
}

.jp-table tr[data-status='pending'] {
  background-color: orange;
  color: black;
}

.jp-table tr[data-status='success'] {
  background-color: green;
  color: black;
}

.jp-table tr[data-status='paused'] {
  background-color: red;
  color: black;
}

.jp-table th {
  text-align: left;
}

.jp-table a {
  color: var(--jp-quetz-primary-color);
}

.jp-table a:hover {
  text-decoration: underline;
}

.pagination {
  align-items: center;
}
