/**********************
     Common styles
 **********************/
* {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-small {
  font-size: 14px;
  border-collapse: collapse;
}

.flex {
  display: flex;
}

.link {
  color: var(--jp-quetz-primary-color);
  text-decoration: none;
}

.link:hover {
  color: var(--jp-quetz-primary-color);
  text-decoration: underline;
}

/**********************
     Layout styles
 **********************/
.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-side {
  padding-left: 20px;
  padding-right: 20px;
}

.padding {
  padding: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-side {
  margin-left: 20px;
  margin-right: 20px;
}

.margin {
  margin: 20px;
}

.page-contents-width-limit {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

/**********************
      Text styles
 **********************/
/* TODO: Letter spacing for text */
.heading1 {
  font-size: 54px;
  line-height: 68px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.heading2 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.heading3 {
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.paragraph {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.text {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.minor-paragraph {
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif;
}

.minor-text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.caption {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 0;
  color: var(--jp-quetz-primary-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.caption-inline {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: inherit;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.section-heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 6px;
  font-family: 'Source Sans Pro', sans-serif;
}

.annotation {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.annotation-text {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.profile-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

/**********************
        Topbar
 **********************/

.topbar-item {
  height: 100%;
  margin: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;

  font-weight: bold;
  padding: 0 20px;
}

.topbar-item-content {
  margin: auto;
  margin-right: 10px;
}
