.topbar-item {
  height: 100%;
  margin: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.topbar-item-content {
  margin: auto;
  margin-right: 10px;
}

.topbar-spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.topbar-search-wrapper {
  max-width: 400px;
  margin: 0 10px;
}

.user-img {
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 90px;
  fill: var(--jp-quetz-primary-color);
  color: var(--jp-quetz-primary-color);
}

.topbar-item {
  font-weight: bold;
  padding: 0 20px;
}

#top-panel {
  padding: 10px;
}

.quetz-main-menu {
  margin: 3px;
}

.quetz-main-menu > span:first-child {
  padding-left: 21px;
  padding-right: 18px;
}

.quetz-main-menu > .lm-Menu-content {
  width: 100%;
}