/**********************
        Loader
 **********************/
.loader-wrapper {
  display: flex;
  align-items: center;
}

.loader {
  border: 4px solid #404040;
  border-top: 4px solid var(--jp-quetz-primary-color);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 2s linear infinite;
}

.loader-text {
  margin-left: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**********************
        Tags
 **********************/

.tag {
  font-size: 12px;
  background-color: #404040;
  color: #e0e0e0;
  display: inline-block;
  padding: 2px 14px;
  margin-bottom: 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.tag:last-child {
  margin-right: 0;
}

.tag.clickable {
  cursor: pointer;
}

/**********************
        Inputs
 **********************/

.input {
  font-size: 16px;
  line-height: 22px;
  padding: 7px 20px;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  background-color: #404040;
  transition: background-color 0.5s ease;
}

.input::placeholder {
  color: #828282;
}

.input:hover {
  color: #222222;
  background-color: #aaaaaa;
}

.input:hover::placeholder {
  color: #222222;
}

.input:active,
.input:focus {
  color: #222222;
  background-color: #ffffff;
}

.input:active::placeholder,
.input:focus::placeholder {
  color: #828282;
}

/**********************
        Button
 **********************/
.btn {
  font-size: 16px;
  line-height: 22px;
  padding: 7px 20px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  transition: background-color 0.5s ease;
}

.btn:disabled,
.btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-transparent {
  background-color: transparent;
  color: inherit;
}

.btn-transparent:hover {
  background-color: #404040;
  color: inherit;
}

.btn-inline {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--jp-quetz-primary-color);
}

.btn-inline:hover {
  text-decoration: underline;
}

.btn-default {
  color: #ffffff;
  background-color: #404040;
}

.btn-default:hover {
  color: #222222;
  background-color: #ffffff;
}

.btn-primary {
  color: #000000;
  background-color: var(--jp-quetz-primary-color);
}

.btn-primary:hover {
  color: var(--jp-quetz-primary-color);
  background-color: #404040;
}

.btn-group {
  display: flex;
}

.btn-group .btn,
.btn-group .input {
  border-radius: 0;
  border-right: 1px solid #212121;
}

.btn-group .btn:first-child,
.btn-group .input:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  /*border-radius: 6px 0 0 6px;*/
}

.btn-group .btn:last-child,
.btn-group .input:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  /*border-radius: 0 6px 6px 0;*/
  border-right: 0;
}

/**********************
      Breadcrumbs
 **********************/
.breadcrumbs {
  display: flex;
  margin-bottom: 12px;
}

.breadcrumb-item {
  font-size: 14px;
}

.breadcrumb-separator {
}

.breadcrumb-link {
  color: var(--jp-quetz-primary-color);
  text-decoration: none;
}

.breadcrumb-link:hover {
  color: var(--jp-quetz-primary-color);
  text-decoration: underline;
}
