tbody.qs-scrollable-Table {
  overflow-y: auto;
}

tr.qs-clickable-Row:hover {
  cursor: pointer;
}

/**********************
        Leftbar
 **********************/

.leftbar {
  width: 200px;
  border-radius: 6px;
  background-color: #404040;
  flex-grow: 0;
  padding: 4px 0;
  position: relative;
}

.leftbar-item {
  text-align: left;
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 7px 20px;
  border-radius: 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 8px 0;
  position: relative;
  display: block;
}

.leftbar-item.active {
  color: var(--jp-quetz-primary-color);
  font-weight: bold;
}

.leftbar-item.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--jp-quetz-primary-color);
}

.left-right {
  display: flex;
  align-items: flex-start;
}

.right-section {
  flex-grow: 1;
  padding-left: 76px;
  display: flex;
  flex-direction: column;
}
