.user-img {
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 90px;
  fill: var(--jp-quetz-primary-color);
  color: var(--jp-quetz-primary-color);
}

.login-menu {
  width: 200px;
  position: absolute;
  top: 45px;
  right: 3px;
  background: var(--jp-quetz-primary-color);
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 100;
}

.login-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.login-menu ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
}

.login-menu li {
  list-style: none;
  height: 30px;
  display: flex;
  align-items: center;
}

.login-menu hr {
  border-color: var(--jp-layout-color1);
}

.login-menu li a {
  margin: auto;
}

.login-menu li a span {
  color: var(--jp-layout-color1);
}